<!doctype html>
<html lang="en" ng-app="roadshowApp">
<head>
<meta charset="utf-8">
<title>DWP Roadshow Feedback</title>
<head>
<link href="libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
	<div class="page-header">
		<header class="container">
			<nav class="navbar navbar-default nav-link navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<img src="images/AtosLogo.png" alt="Atos Logo" height="80" width="130">
					</div>
				</div>
			</nav>
		</header>
	</div>
	<section class="container">
		<div class="page-header">
			<h3>Feedback Form</h3>
			<small>Please enter feedback below.</small>
		</div>
		<div ng-controller="FeedbackController as feedbackCtrl">
			<form name="form" role="form">
				<div class="form-group">
					<label for="inputName">Name:</label>
					<input type="text" name="name" id="inputName" ng-model="feedback.name" class="form-control" required/>
					
					<div class="help-block" ng-messages="form.name.$error" ng-show="form.name.$touched">
						<p ng-message="required">This field is required</p>
					</div>
   
				</div>
				<div class="form-group">
					<label for="selectLocation">Location:</label>
					
					<select ng-model="feedback.location" id="selectLocation" name="location"
						class="form-control" ng-options="item as item.name for item in locations">
						
					</select>
				</div>
				<div class="form-group">
					<label for="inputIdNumber">ID Number:</label> <input id="inputIdNumber" class="form-control" type="text"
						ng-model="feedback.idNumber" name="idNumber" />
				</div>
				<div class="form-group">
					<label for="inputEmail">Email Address:</label> <input class="form-control" id="inputEmail" type="email"
						ng-model="feedback.email" name="email" />
					<div class="help-block" ng-messages="form.email.$error" ng-show="form.email.$touched">
						<p ng-message="required">This field is required</p>
						<p ng-message="valid">This email address is invalid</p>
					</div>
				</div>
				<div class="form-group">
					<label for="inputAction">Action:</label>
					<div class="controls">
						<input type="text" ng-model="feedback.action" name="action" id="inputAction" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="inputActionOwner">Action Owner:</label>
					<div class="controls">
						<input type="text" ng-model="feedback.actionOwner" name="actionOwner" id="inputActionOwner" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="selectStatus">Status:</label>
					<div class="controls">
						<select ng-model="feedback.status" id="selectStatus" name="status" class="form-control"
							ng-options="item as item.name for item in statuses">
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="inputComments">Comments:</label>
					<div class="controls">
						<textarea valid-comment="" ng-model="feedback.comments" name="comments" id="inputComments" class="form-control"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="selectDate">Date:</label>
					<div class="controls">
						<input type="date" ng-model="date" name="date" id="selectDate" class="form-control" />
					</div>
				</div>
				<input type="button" value="Reset" ng-click="reset()" class="btn btn-danger pull-left" />
				<button ng-click="sendFeedback()" ng-disabled="!form.$valid" class="btn btn-primary pull-right">Send</button>
			</form>
		</div>
		 
		 <!-- 
		<div class="alert alert-success fade-in">
			<strong>Success!</strong> The feedback was successfully saved.
					</div>
					 -->
		<!--
		<div class="alert alert-danger">
			<strong>Error!</strong> An error occurred when saving the feedback.
		</div> -->
	</section>
	<script src="libs/jquery/dist/jquery.min.js"></script>
	<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="libs/angular/angular.js"></script>
	<script src="libs/angular-messages/angular-messages.min.js"></script>
	<script src="scripts/app.js" type="text/javascript"></script>
	<script src="scripts/controllers.js" type="text/javascript"></script>
</body>
</html>
